<div class="container">
    <div class="top-bar">
        <!-- menu -->
        <button class="top-bar__menu">
            <img src="./assets/icons/bars.svg" alt="bars.svg" class="top-bar__menu-icon">
        </button>

        <!-- logo -->
        <a href="./" class="logo">
            <img src="./assets/icons/logo.svg" alt="logo.svg" width="32px" class="logo__img">
            <h1 class="logo__title">TL HOME</h1>
        </a>
    
        <!-- nav-bar -->
        <nav class="nav-bar">
            <ul class="nav-bar__list">
                <!-- <li><a href="" class="nav-bar__link">Trang chủ
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron" width="12px">
                </a></li> -->
                <!-- <li><a href="" class="nav-bar__link">Giới Thiệu
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron icon-color">
                </a></li> -->
                <li><a href="" class="nav-bar__link">Dịch Vụ
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron icon-color">
                </a></li>
                <li><a href="" class="nav-bar__link">Dự Án
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron icon-color">
                </a></li>
                <!-- <li><a href="" class="nav-bar__link">Profile
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron icon-color">
                </a></li> -->
                <li><a href="" class="nav-bar__link">Tin Tức
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron icon-color">
                </a></li>
                <li><a href="" class="nav-bar__link">Video
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron icon-color">
                </a></li>
                <li><a href="" class="nav-bar__link">Tuyển Dụng
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron icon-color">
                </a></li>
                <li><a href="" class="nav-bar__link">Liên Hệ
                    <img src="./assets/icons/chevron-down.svg" alt="" class="nav-bar__chevron icon-color">
                </a></li>
            </ul>
        </nav>
    
        <!-- actions -->
        <div class="top-bar-action">
            <div class="top-bar-action__group">
                <button class="top-bar-action__button">
                    <img src="./assets/icons/magnifying-glass.svg" alt="magnifying-glass.svg" class="top-bar-action__icon icon-color">
                </button>
            </div>
        </div>
    </div>
</div>